body {
    
    min-width: 320px;
    position: relative;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.wrap {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-flex: 1;
    -moz-box-flex: 1 0 auto;
    -webkit-flex:  1 0 auto;
    -ms-flex:  1 0 auto;
    flex:  1 0 auto;
    background: url(../img/wrap.jpg) no-repeat center top;
    background-color: #676d75;
    
    background-size: cover;
}

* {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    
    
    min-height: 100%;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
}

.main {
    box-shadow: 0 10px 40px rgba(0,0,0,1);
    padding: 0;
}
.logo {
    height: 30px;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 30px;
}

.header {
    background: url(../img/header.jpg) no-repeat center top;
    background-color: #676d75;
    margin: 0 auto;
    background-size: cover;
    height: 100%;
    color: #fff;
    
    min-height: 300px;
}

.header h1 {
    margin: 0;
    color: #fff;
    padding-top: 4em;
    padding-left: 10px;
    font-size: 34px
}

.header_nav {
    background-color: #8B3572;
}

.nav-tabs.nav-justified > li > a,
.nav-tabs.nav-justified > .active > a {
    border: none;
}

.nav > li > a {
    color: #fff;
}

.nav > li > a,
.nav > .active > a,
.nav-tabs.nav-justified > .active > a, 
.nav-tabs.nav-justified > .active > a:focus, 
.nav-tabs.nav-justified > .active > a:hover {
    border: none;
}

.nav > li.active > a,
.nav > li > a:focus,
.nav > li > a:hover {
    background-color: #148485;
}

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
    background-color: #148485;
    border: none;
    color: #fff;
}

.content {
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: #fff;
    /*opacity: 0.8;*/
    box-shadow: 0 10px 40px rgba(0,0,0,1);
    padding: 10px;
    padding-bottom: 40px;
}

.btn-success {
    background-color: #148485;
    border-color: #148485; 
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
    background-color: #8B3572 !important;
    border-color: #8B3572 !important;
}

.modal_btns{
    margin-bottom: 20px;
}

footer {
    padding: 30px;
    background-color: #2E2E2E;
    color: #fff;
}

.book_info {
    font-size: 1.2em;
}

.books_in_genre {
    font-size: 1.2em;
    padding-left: 5em;
}