<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>mylib</title>

    <!-- Bootstrap -->
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="static/library/css/main.css">
    <link rel="stylesheet" href="static/library/css/owl.carousel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.0.0-beta.3/assets/owl.theme.default.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrap">
      <div class="main container">
        <section id="header">
          <div class="logo">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            <span>myLib</span>
          </div>
          <div class="header">
            <h1>Your favorite books always with you!</h1>
          </div>
        </section>
        <section id="nav">
          <div class="header_nav">
            {% include 'header_nav.html' %}     
          </div>
        </section>
        
      </div>
      <div class="container content">
        <section id="content">
          
            {%block content%}
              <div class="owl-carousel">
                  <div class="item"><h4>1</h4></div>
                  <div class="item"><h4>2</h4></div>
                  <div class="item"><h4>3</h4></div>
                  <div class="item"><h4>4</h4></div>
                  <div class="item"><h4>5</h4></div>                
              </div>
            {%endblock%}
          
        </section>
      </div>
    </div>
    <footer  class="text-center">
      <span>Copyright 2015 All right reserved.</span>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script src="static/library/js/main.js"></script>
    <script src="static/library/js/owl.carousel.min.js"></script>
  </body>
</html>