{% extends "base.html" %}

{%block content%}
    
    <div class="row">
        <div class="modal_btns col-sm-12">
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_book">
                  <span>Add Book</span>
                </button>
                
                <div class="modal fade" id="add_book" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add Book</h4>
                      </div>
                      <form action="?action=add_book" method="post">
                          <div class="modal-body">
                            <div class="form-group">
                                <label for="book_title" class="control-label">Book title:</label>
                                <input type="text" class="form-control" id="book_title" name="book_title" required="required">
                            </div>
                            <div class="form-group">
                                <label for="book_author" class="control-label">Book Author:</label>
                                <input type="text" class="form-control" id="book_author" name="book_author" required="required">
                            </div>
                            <div class="form-group">
                                <label for="book_year" class="control-label">Book Year:</label>
                                <input type="text" class="form-control" id="book_year" name="book_year" required="required">
                            </div>
                            <div class="form-group">
                                <label for="book_description" class="control-label">Book Description:</label>
                                <textarea class="form-control" id="book_description" name="book_description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="book_genre" class="control-label">Book Genre:</label>
                                <select class="form-control" name="book_genre">
                                    {% for genre in genres%}
                                        <option value="{{genre.title}}" class="text-uppercase">{{genre.title}}</option> 
                                    {% endfor %}                               
                                </select>
                            </div>                    
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Add</button>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
                
                <!-- Modal delete book-->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#delete_book">
                  <span>Delete Book</span>
                </button>
                
                <div class="modal fade" id="delete_book" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Delete Book</h4>
                      </div>
                      <form action="?action=delete_book" method="post">
                          <div class="modal-body">
                            <div class="form-group">
                                <label for="book_title" class="control-label">Book title:</label>
                                <select class="form-control" name="book_title">
                                    {% for book in books%}
                                        <option value="{{book.title}}" class="text-uppercase">{{book.title}}</option> 
                                    {% endfor %}                               
                                </select>
                            </div>                    
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Delete</button>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
            </div>
        <div class="col-sm-6">
            <!-- Modal add book-->
            


            <div class="list-group all_books">
                {% for book in books%}
                    <a href="javascript:void(0)" class="list-group-item text-uppercase">{{book.title}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="col-sm-6">            
            {% for book in books%}
                <div class="book_info" id="{{book.title}}" style="display: none">
                    <dl class="dl-horizontal">
                      <dt>Title:</dt>
                      <dd>{{book.title}}</dd>
                      <dt>Author:</dt>
                      <dd>{{book.author}}</dd>
                      <dt>Year:</dt>
                      <dd>{{book.year}}</dd>
                      <dt>Description:</dt>
                      <dd>{{book.description}}</dd>
                      <dt>Genre:</dt>
                      <dd>{{book.genre}}</dd>
                    </dl>
                </div>
            {% endfor %}            
        </div>
    </div>    
 
{%endblock%}