{% extends "base.html" %}

{%block content%}
    <div class="row">

        <div class="modal_btns col-sm-12">
            <!-- Modal add genre-->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_new_genre">
              <span>New Genre</span>
            </button>
            
            <div class="modal fade" id="add_new_genre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add new Genre</h4>
                  </div>
                  <form action="?action=add_genre" method="post">
                      <div class="modal-body">
                        <div class="form-group">
                            <label for="genre_title" class="control-label">Genre title:</label>
                            <input type="text" class="form-control" id="genre_title" name="genre_title" required="required">
                        </div>                    
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
            
            <!-- Modal delete genre-->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#delete_genre">
              <span>Delete Genre</span>
            </button>
            
            <div class="modal fade" id="delete_genre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Genre</h4>
                  </div>
                  <form action="?action=delete_genre" method="post">
                      <div class="modal-body">
                        <div class="form-group">
                            <label for="genre_title" class="control-label">Genre title:</label>
                            <select class="form-control" name="genre_title">
                                {% for genre in genres%}
                                    <option value="{{genre.title}}" class="text-uppercase">{{genre.title}}</option> 
                                {% endfor %}                               
                            </select>
                        </div>                    
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Delete</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
            
            <!-- Modal edit genre-->
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit_genre">
              <span>Edit Genre</span>
            </button>
            
            <div class="modal fade" id="edit_genre" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit Genre</h4>
                  </div>
                  <form action="?action=edit_genre_title" method="post">
                      <div class="modal-body">
                        <div class="form-group">
                            <label for="genre_title" class="control-label">Genre title:</label>
                            <select class="form-control" name="old_genre_title">
                                {% for genre in genres%}
                                    <option value="{{genre.title}}" class="text-uppercase">{{genre.title}}</option> 
                                {% endfor %}                               
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="genre_title" class="control-label">New Genre title:</label>
                            <input type="text" class="form-control" id="genre_title" name="new_genre_title" required="required">
                        </div>                    
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Edit</button>
                      </div>
                  </form>
                </div>
              </div>
            </div>
        </div>
        <div class="col-sm-6">



        <div class="list-group all_genres">
            {% for genre in genres%}
                <a href="javascript:void(0)" class="list-group-item text-uppercase">{{genre.title}}</a>
            {% endfor %}
        </div>

            
        </div>

        <div class="col-sm-6 genre_content">
            
            {% for genre in genres%}
                
                <div class="books_in_genre" id="{{genre.title}}" style="display: none; font-size: 1.5em">
                    <ol>
                    {% for book in books if book.genre == genre.title %}
                          <li>{{book.title}}</li>
                    {% endfor %}
                    </ol>
                </div>
                
            {% endfor %}
        </div>
    </div>
    
{%endblock%}