<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="?action=get_all_genres">Genres</a></li>
  <li role="presentation"><a href="?action=get_all_books">Books</a></li>
</ul>